<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barcodsawmillnew_scanzebra">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- <application android:hardwareAccelerated="true"> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconpapan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".LihatBarcodeTia_DelGroup_Sub"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".LihatBarcodeTia_deletegroup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogNumber"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".LihatNOSKAU"
            android:label="List NO Group"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".LihatBarcodeReview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LihatBarcodeTia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".listbarcode"
            android:screenOrientation="portrait" />
        <activity android:name=".userpass_modify" />
        <activity android:name=".userpass_edit" />
        <activity
            android:name=".printSawmillGroup"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BarangActivityTranPOS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utillity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillMain_Fact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillSub_Fact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillMain_MJPapan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillSub_MJPapan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillMain_SWOut"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillSub_SWOut"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillMain_Wrh"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillSub_Wrh"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillMain_Oven"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillSub_Oven"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillSub_Checkin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillSub_LOG"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SawmillMain_Checkin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SawmillMain_LOG"
            android:screenOrientation="portrait" /> <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".NURUploadBarcodeLokal_sub1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HistoryBarcode" />
        <activity
            android:name=".Report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userpass"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".printSalesgroupDetail"
            android:label="Summary Sales"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".printSalesgroup"
            android:label="Summary Sales"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".warningloading"
            android:label="Info"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.irawan2" />
        <activity
            android:name=".warningselesai"
            android:label="Info"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.irawan2" />
        <activity
            android:name=".warningumum"
            android:label="Info"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.irawan2" />
        <activity
            android:name=".warningpass"
            android:label="Info"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.irawan2" />
        <activity
            android:name=".warning"
            android:label="Info"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".warningimportimportfilter"
            android:label="Info"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".warningimport"
            android:label="Info"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".warning"
            android:label="Info"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".WrhParisSub"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WrhParisLokal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WrhParisOutLokal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WrhParisOut"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WrhParis2Sambung"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WrhParis2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WrhParis"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".NURUploadBarcodeNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NURUploadBarcodeNew2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NURUploadBarcodeLokal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NURUploadBarcodeBatch"
            android:screenOrientation="portrait" />
        <activity android:name=".BarcodeEntry" /> <!-- <activity android:name=".BarcodeEntry" /> -->
        <activity
            android:name=".NURUploadBarcode"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".BarcodeEntry" /> -->
        <activity
            android:name=".tentang"
            android:label="Barcode Golden Care"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Emp_reg_inv"
            android:label="Invoice Number"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Emp_RegErrorLokal"
            android:label="Error Data OUT"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Emp_RegOvenAss"
            android:label="Oven Name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Emp_RegItemdesc"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".MainStockGC"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Emp_RegAssSaw"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".TorchOnCaptureActivityLokal"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".TorchOnCaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AnyOrientationCaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>